/*#map { height: 400px; width: calc(100% - 300px); float: right; }*/
/*#sidebar { width: 300px; float: left; }*/

/*#map-container {*/
/*    width: 87%;*/
/*    height: 90vh;*/
/*    float: right;*/
/*}*/
/*#sidebar {*/
/*    width: 13%;*/
/*    min-width: 180px;*/
/*    float: left;*/
/*    height: 90vh;*/
/*    overflow-y: auto;*/
/*}*/
#container {
    display: flex;
    height: 90vh;
    position: relative; /* Ensure container is positioned relatively */

}

#sidebar {
    flex: 1;
    min-width: 180px;
    overflow-y: auto;
}

#map-container {
    flex: 6;
    height: 100%;
}
.custom-div-icon {
    position: relative;
    top: -10px;
    left: -10px;
}

.popup-content {
    max-height: 400px;
    overflow-y: auto;
}

label {
    display: block;
}

#routeForm div {
    margin-bottom: 5px;
}

#loadingOverlay {
    position: fixed;  /* Change from absolute to fixed to cover the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000;  /* Make sure it's above everything */
    display: none;  /* Initially hidden */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFF; /* White color for the loading text */
}

#sidebar.blurred {
    backdrop-filter: blur(8px); /* Apply blur effect when class 'blurred' is added */
}

