
html, body {
    height: 100%; /* whole page is height of the viewport */
    margin: 0;
    overflow: hidden; /* prevents scrolling on the whole page */
}

#container {
    display: flex;
    flex-direction: column; /* stacks the sidebar and map vertically */
    height: 100vh; /* sets container height to viewport height */
    overflow: hidden; /* prevents scrolling within container */
}

#floatingPanel {
    /* setup position of floating sidebar*/
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    /* setup sizing of floating sidebar*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    z-index: 1000;
    transition: left 0.3s;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    scrollbar-width: none;
}


/* styling and positioning for the floating sidebar toggle button */
#toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35px;
    left: 305px; /* align with the edge of panel */
    width: 30px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 20%;
    font-size: 16px;
    cursor: pointer;
    transition: left 0.3s;
    z-index: 1500;
}


/* map container setup */
#map-container {
    flex: 6;
    height: 100%;
}

/* position and styling for location button */
.leaflet-control-locate {
    position: absolute;
    bottom: 100px;
    right: 11px;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1200; /* ensures its above the map */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

/* sizing for location button icon */
.leaflet-control-locate i {
    font-size: 18px;
}


/* styling for markers */
.popup-content {
    max-height: 400px;
    overflow-y: auto;
}


/* form margins */
#routeForm div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* styling to grey out screen when waiting for response */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* transparent black background */
    z-index: 2000; /* above all */
    display: none;  /* initially hidden */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFF;
}



/* styling and positioning for the range slider */
.rangeValue {
    font-weight: bold;
    margin-left: 10px; /* space between the slider and value */
}
.rangeValue {
    border: none;
    background: transparent;
    outline: none;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: right;
    width: 45px; /* fixed width to prevent layout shift */
}
.rangeValue:focus {
    background: white;
    border: 1px solid #333; /* add border when focused */
}

/* hide spin button */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.form-check-input {
    cursor: pointer;
    width: 34px;
    height: 20px;
}


/* mapbox geocoding suggestion formatting */
.suggestions {
    position: absolute;
    background: white;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 14px;
    display: none; /* Hidden by default */
}
.suggestions div {
    padding: 8px;
    cursor: pointer;
}
.suggestions div:hover {
    background-color: #f0f0f0;
}


/* for switching between panelcontent */

.content-hidden {
    display: none;
}

.content-active {
    display: block;
}


/* styling for summary header i.e. destination */
.summary-header h2 {
    margin: 0;
    font-size: 20px;
}
.summary-header p {
    margin: 0;
    color: #4d4d4d;
    font-size: 16px; /* inc header icon size */
}
.summary-header {
    margin-bottom: 13px;
}

/* positioning for stops */
.route-segments .segment {
    background: #d8ecfd;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
/* styling for stop text */
.route-segments .segment p {
    margin: 0;
    color: #4d4d4d;
    font-size: 15px;
}
/* styling for all segment icons */
.segment i, .food-segment i, .end-header i, .start-header i{
    width: 20px; /* fixed width for all icons */
    display: inline-block;
    text-align: center;
}
/* positioning for all segment headers */
.segment h6, .segment p, .food-segment h6, .food-segment p, .end-header h6, .end-header p, .start-header h6, .start-header p {
    margin-left: 5px;
}

/* for time in right corner of segments*/
.segment h6 .time, .start-header h6 .time, .end-header h6 .time {
    float: right;
}

/* for food stop sub container */
.food-segment {
    background-color: #c8e6c9; /* light green background for food segment */
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border-left: 5px solid #388e3c; /* dark green left border */
}

/* for start and end header stop containers */
.end-header, .start-header {
    background: #f2f8ff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.end-header p, .start-header p {
    margin: 0;
    color: #4d4d4d;
    font-size: 15px;
}

/* for error box */
#error-container {
    display: none;
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* appear above other elems */
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#error-container .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
#error-container .error-header .error-icon {
    margin-right: 10px;
    font-size: 24px;
    color: red;
}

/* for fallback box */
#info-container {
    display: none;
    color: #0c5460;
    background-color: #d1ecf1;
    padding: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid #bee5eb;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#info-container .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
#info-container .info-header .info-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #0c5460;
}